<a href = '/'>Home</a>

<h1>
  Rate Your Experience for Fitness Facilities at <%= @gym.name %>

</h1>

<br>
<%= form_for Rating.new, url: '/post_rating' do |foo| %>
<%= foo.hidden_field :gym_id, value: @gym.id %>

<fieldset class="stars">
    <legend>Rating:</legend>
    <input type="radio" id="star5" name="rating[stars]" value= 5 /><label for="star5" title="Better than my gym at home!">5 stars</label>
    <input type="radio" id="star4" name="rating[stars]" value= 4 /><label for="star4" title="Pretty good">4 stars</label>
    <input type="radio" id="star3" name="rating[stars]" value= 3 /><label for="star3" title="Meh">3 stars</label>
    <input type="radio" id="star2" name="rating[stars]" value= 2 /><label for="star2" title="Pretty bad">2 stars</label>
    <input type="radio" id="star1" name="rating[stars]" value= 1 /><label for="star1" title="Never returning">1 star</label>
</fieldset>

  
<!-- <%= foo.label :stars %>  -->
<br>
<!-- <%= foo.select(:stars, [['1 star', 1], ['2 stars', 2], ['3 stars', 3], ['4 stars', 4], ['5 stars', 5]]) %> 
-->
<br>  
<br>
<br>
<br>
<legend>Comments:</legend>   
<br>

<%= foo.text_area :comments, :size => "60%x5%" %>
<br>
<br>
<legend>Submit a Pic:</legend>
<!-- <%= foo.label "Submt a pic" %>  -->
<%= foo.file_field :image %>  
<br>
<br>
  <%= foo.submit %>
  <% end %>


<br>

<h3>Prior Ratings: <%= @average_stars %> Stars</h3>
<br>
<% @ratings.reverse_each do |f| %>
<ul>
  <li>
    <strong><%= f.stars %> Star(s)</strong>: <%= f.comments %>
<% if f.user %>
    <br>
(Rating by <%= f.user.email %>)
    <br>
<% end %>
    <% if f.image_file_name != nil %>
    <br>
     <img src='<%= f.image %>' height="200" width="280"/>
    <% end %>
  </li>
</ul>
<br>
<% end %>
<br>
<br>
<script type="text/javascript" src="http://widgets.active.com/widgets/nearyou/widget-a3.min.js"></script>
<script type="text/javascript">
  new ActiveNetwork.NearYouWidget({"title":"Fitness Activities Near This Hotel","num":"5","keywords":"","activity":"any","showActivitySelector":true,"type":"event","location":"<%= @location.zip %>","showLocationSelector":false,"affiliate":"","placement":"","campaign":"150457","width":294,"height":383,"style":{"frame":{"background-color":"#ffffff"},"title":{"color":"#ffffff"},"window":{"background-color":"#ffffff"},"text":{"color":"#5b5c5c","border-color":"#5b5c5c"},"links":{"color":"#196e9c"},"buttons":{"background-color":"#f5ba46"},"tags":{"background-color":"#ffffff"}}}).render();
</script>







